<!--TODO: Refactor these to use the constant names for these stats and pools-->
<table class="attribute-bar">
	<tr class="attribute-bar">
		<td class="attribute-bar"><b>STR:</b> {{this.getStrength(characterFocus)}}</td>
		<td class="attribute-bar"><b>CON:</b> {{this.getConstitution(characterFocus)}}</td>

		<td class="attribute-bar"><b>INT:</b> {{this.getIntelligence(characterFocus)}}</td>
		<td class="attribute-bar"><b>WIS:</b> {{this.getWisdom(characterFocus)}}</td>

		<td class="attribute-bar"><b>DEX:</b> {{this.getDexterity(characterFocus)}}</td>
		<td class="attribute-bar"><b>AGL:</b> {{this.getAgility(characterFocus)}}</td>

		<td class="attribute-bar"><b>CHA:</b> {{this.getCharisma(characterFocus)}}</td>
		<td class="attribute-bar"><b>WILL:</b> {{this.getWill(characterFocus)}}</td>

		<td class="attribute-bar"><b>LUCK:</b> {{this.getLuck(characterFocus)}}</td>
		<td class="attribute-bar"><b>PER:</b> {{this.getPerception(characterFocus)}}</td>
	</tr>
</table>

<table class="attribute-bar">
	<tr class="attribute-bar">
		<td class="attribute-bar"><b>HP:</b> {{this.getHP(characterFocus)}}</td>
		<td class="attribute-bar"><b>SAN:</b> {{this.getSanity(characterFocus)}}</td>
		<td class="attribute-bar"><b>STA:</b> {{this.getStamina(characterFocus)}}</td>
		<td class="attribute-bar"><b>MOX:</b> {{this.getMoxie(characterFocus)}}</td>
		<td class="attribute-bar"><b>FOR:</b> {{this.getFortune(characterFocus)}}</td>
	</tr>
</table>