<li ngbDropdown class="nav-item dropdown file-menu">
	<button class="nav-link dropdown-toggle" href="#" ngbDropdownToggle
	container="body" placement="right" ngbTooltip="Character page options">File</button>
	<div ngbDropdownMenu aria-labelledby="file-menu-btn">
		<a class="dropdown-item dropdown-item" (click)="this.save()">Download character</a>
		<a class="dropdown-item dropdown-item"><app-import-modal [focus]="this.characterService.characterFocus"
		[label]="'character'" [importType]="'character'"></app-import-modal></a>

		<!-- TODO: Write a method to clear out the existing character-->
		<a class="dropdown-item dropdown-item" (click)="console.log('clear() still needs to be implemented.')">Clear</a>
	</div>
</li>

<!-- TODO: Align these text boxes! -->
<div>
	<b>name:</b>
	<input style="width: 200px" type="text"
	[(ngModel)]="this.characterService.characterFocus.name"/>
</div>
<div>
	<b>title:</b>
	<input style="width: 200px" type="text"
	[(ngModel)]="this.characterService.characterFocus.title"/>
</div>

<div class="tooltip">
	<span class="tooltiptext tooltip">Write your character's bio here!</span>
	<table style="vertical-align: top">
		<td>
			<b>Bio:</b>
		</td>
		<td>
			<!-- TODO: Wire this up to an actual variable in the character. -->
			<textarea></textarea>
		</td>
	</table>
</div>

<div> <!-- Empty div here for spacing. --> </div>

<button ngbTooltip="Display character creation point investments" (click)="expandPointBuyOptions = ! expandPointBuyOptions">&#8646;</button>

<app-point-buy *ngIf="expandPointBuyOptions" [characterFocus]="this.characterService.characterFocus"></app-point-buy>

<table>
	<td>
		<div>
			<b>Primary Race:</b>
			<div>
				<select (change)="this.characterService.characterFocus.handlePrimaryRaceChange()"
				[(ngModel)]="this.characterService.characterFocus.primaryRacialJob">
					<!--TODO: Auto-select the option that is the value of this.characterService.characterFocus.primaryRacialJob! -->
					<option *ngFor="let currentRacialJob of allRacialJobs"
					[ngValue]="currentRacialJob">{{currentRacialJob.name}}</option>
		
					<!-- TODO: Add an empty option to this so the player can remove the primaryRacialJob... -->
				</select>
				<input type="number" min="0" max="{{MAX_LEVEL}}"
				[(ngModel)]="this.characterService.characterFocus.primaryRacialJobLevel"
				(change)="this.characterService.characterFocus.recalculateAttributes()">
			</div>
		
			<!-- TODO: Add support for supplemental RacialJobs -->
		</div>
		<!-- TODO: Add additonal "job slots" for special cases based off properties to be later
				added into RacialJob. Jobs like Toy Golem and Manabeast allow for a second racial job,
				whereas half-breed is a non-statted "job" that gives two additional slots.
				Also link the number of generated Adventuring and Crafting Job selection dropdowns
				to the values the primary race allows for.
		
			TODO: Add support for setting the levels the character has in each of these jobs.
			TODO: Prevent instances of BlankAdventuringJob and BlankCraftingJob from displaying their level controls here...
		
			TODO: Handle Beastkin here, with the first job auto-populating to Human
			(give a tooltip for that), and the second opening up a list of Beast jobs.
			Note, they only get one job! It's a custom one created for them on the fly.
			They choose their skills as they level, and parental jobs only affect the
			base stats, not the points awarded for progressing.
			TODO: Handle Crossbreeds here (That's a terrible name. Use "Biracial" instead?)
			Because they handle the same way: one job, but pulling skills from the two
			parents' lists.
			SO, I should probably handle Biracial jobs differently than what I had planned
			to do with the supplmental jobs. Really, that only applies to Toy Golems
			and Doll Haunters (at least, for now it does).
		-->
		<div *ngIf="this.characterService.characterFocus.primaryRacialJob !== undefined">
			<div *ngIf="this.characterService.characterFocus.primaryRacialJob.numberOfsupplementalRacialJobSlots > 0">
					<b>Supplemental Racial Job(s):</b>
					<div *ngFor="let currentJobSlot of 
					createRange(this.characterService.characterFocus.primaryRacialJob.numberOfsupplementalRacialJobSlots); let i = index">
						<select [(ngModel)]="this.characterService.characterFocus.supplementalRacialJobLevels[i].job"
						(change)="this.characterService.characterFocus.recalculateAttributes()">
							<option *ngFor="let x of this.allSupplementalRacialJobs" [ngValue]="x">{{x.name}}</option>
						</select>
						<input type="number" min="0" max="{{MAX_LEVEL}}"
						[(ngModel)]="this.characterService.characterFocus.supplementalRacialJobLevels[i].level"
						(change)="this.characterService.characterFocus.recalculateAttributes()">
						<!--
							FIXME: When rapidly clicking this input, sometimes the change
							directive is delayed until the mouse moves.
						-->
					</div>
				</div>
		
			<div>
				<b>Adventuring Jobs:</b>
				<div *ngFor="let currentJobSlot of 
				createRange(this.characterService.characterFocus.primaryRacialJob.numberOfAdventuringJobSlots); let i = index">
					<select [(ngModel)]="this.characterService.characterFocus.adventuringJobLevels[i].job"
					(change)="this.characterService.characterFocus.recalculateAttributes()">
						<option *ngFor="let x of this.allAdventuringJobs" [ngValue]="x">{{x.name}}</option>
					</select>
					<input type="number" min="0" max="{{MAX_LEVEL}}"
					[(ngModel)]="this.characterService.characterFocus.adventuringJobLevels[i].level"
					(change)="this.characterService.characterFocus.recalculateAttributes()">
					<!--
						FIXME: When rapidly clicking this input, sometimes the change
						directive is delayed until the mouse moves.
					-->
				</div>
			</div>
			
			<div>
				<b>Crafting Jobs:</b>
				<div *ngFor="let currentJobSlot of 
				createRange(this.characterService.characterFocus.primaryRacialJob.numberOfCraftingJobSlots); let i = index">
					<select [(ngModel)]="this.characterService.characterFocus.craftingJobLevels[i].job"
					(change)="this.characterService.characterFocus.recalculateAttributes()">
						<option *ngFor="let x of this.allCraftingJobs" [ngValue]="x">{{x.name}}</option>
					</select>
					<input type="number" min="0" max="{{MAX_LEVEL}}"
					[(ngModel)]="this.characterService.characterFocus.craftingJobLevels[i].level"
					(change)="this.characterService.characterFocus.recalculateAttributes()">
					<!--
						FIXME: When rapidly clicking this input, sometimes the change
						directive is delayed until the mouse moves.
					-->
				</div>
			</div>
		</div>
		<div hidden>
			stats:
			<app-attribute-bar [characterFocus]="this.characterService.characterFocus"></app-attribute-bar>
			
			<div class="tooltip">
				<button (click)="expandOptions = ! expandOptions">&#9881;</button>
				<span class="tooltiptext tooltip">Display optional controls</span>
				<!--
					FIXME: The tooltip for this button gets cut off by the left-side of the
					window.
					TODO: Just bring in an actual tooltip package.
				-->
			</div>
			<div *ngIf="expandOptions">
				<button (click)="this.characterService.characterFocus.recalculateAttributes()">Manually recalculate attributes</button>
				<button (click)="this.characterService.characterFocus.printFullStats()">Print attributes to console log</button>
			</div>
			
			<!-- TODO:
					Add a button for expanding and collapsing the stats sections.
			-->
		</div>
	</td>

	<td>
		<tr>
			<!--
				Placeholder row for aligning the top of the sidebar with the 
				top of the racial job select.
				-->
		</tr>
		<tr>
			<div style="margin-top: 20px; margin-left: 20px">
				<app-attribute-sidebar [characterFocus]="this.characterService.characterFocus"></app-attribute-sidebar>
			</div>
		</tr>
	</td>
</table>