<!-- TODO: Align these text boxes! -->
<div>
	<b>name:</b>
	<input style="width: 200px" type="text"
	[(ngModel)]="this.characterFocus.name"/>
</div>
<div>
	<b>title:</b>
	<input style="width: 200px" type="text"
	[(ngModel)]="this.characterFocus.title"/>
</div>

<div class="tooltip">
	<span class="tooltiptext tooltip">Write your character's bio here!</span>
	<table style="vertical-align: top">
		<td>
			<b>Bio:</b>
		</td>
		<td>
			<!-- TODO: Wire this up to an actual variable in the character. -->
			<textarea></textarea>
		</td>
	</table>
</div>

<div>
	<b>Race:</b>
	<select (change)="this.characterFocus.handlePrimaryRaceChange()"
	[(ngModel)]="this.characterFocus.primaryRacialJob">
		<!--TODO: Auto-select the option that is the value of this.characterFocus.primaryRacialJob! -->
		<option *ngFor="let currentRacialJob of allRacialJobs"
		[ngValue]="currentRacialJob">{{currentRacialJob.name}}</option>

		<!-- TODO: Add an empty option to this so the player can remove the primaryRacialJob... -->
	</select>
</div>
<!-- TODO: Add additonal "job slots" for special cases based off properties to be later
		added into RacialJob. Jobs like Toy Golem and Manabeast allow for a second racial job,
		whereas half-breed is a non-statted "job" that gives two additional slots.
		Also link the number of generated Adventuring and Crafting Job selection dropdowns
		to the values the primary race allows for.

	TODO: Add support for setting the levels the character has in each of these jobs.
-->
<div *ngIf="this.characterFocus.primaryRacialJob !== undefined">
	<div>
		<b>Adventuring Jobs:</b>
		<div *ngFor="let currentJobSlot of 
		createRange(this.characterFocus.primaryRacialJob.numberOfAdventuringJobSlots)">
			<select>
				<option *ngFor="let x of this.allAdventuringJobs">{{x.name}}</option>
			</select>
		</div>
	</div>
	
	<div>
		<b>Crafting Jobs:</b>
		<div *ngFor="let currentJobSlot of 
		createRange(this.characterFocus.primaryRacialJob.numberOfCraftingJobSlots)">
			<select>
				<option *ngFor="let x of this.allCraftingJobs">{{x.name}}</option>
			</select>
		</div>
	</div>
</div>

stats:
<app-attribute-bar [characterFocus]="characterFocus"></app-attribute-bar>

<!-- TODO:
		Add a button for expanding and collapsing the stats sections.
-->