<ng-template #content let-c="close" let-d="dismiss">
	<div>
		<h4>Choose {{label}} file to import</h4>
	</div>
	<div class="modal-footer">
		<form>
			<div>
				<!-- FIXME: Now that the characterService can track multiple characters, we should allow for importing multiple characters at once! -->
				<input *ngIf="importType === 'skill'" type="file" (change)="importFile($event)" multiple>
				<input *ngIf="importType === 'job'" type="file" (change)="importFile($event)" multiple>
				<input *ngIf="importType === 'character'" type="file" (change)="importFile($event)">
			</div>
			<div>
				<button class="button" (click)="d('Close click')" >Close</button>
			</div>
		</form>
	</div>
</ng-template>

<div (click)="open(content)">Import {{label}} file</div>