<table class="attribute-bar">
	<td>
		<tr>
			&nbsp;
		</tr>
		<tr>
			2d10
		</tr>
		<tr>
			50pt
		</tr>
		<tr>
			50pt
		</tr>
		<tr>
			Total
		</tr>
	</td>
	<!-- 
		TODO: Rewrite these so that instead of displaying the current values
		they instead link to them via ngModel. Then, put inputs in their places
		to allow the user to actually change them.

		Finally, look up how to limit them so the 50 point allocation sections
		all pull from the same 50 point pool (all together they can't be more
		than 50)
			Also, add tooltips describing what the fields do...

		Also, add the randomize button to the 2d10 section...

		TODO: Determine if I actually need the Total section...
	 -->
	<span *ngFor="let current of this.orderedAttributes; let i = index">
		<td>
			<tr class="attribute-bar">
				{{current}}
			</tr>
			<tr class="attribute-bar">
				{{this.characterFocus.initialRandomAttributes.get(current)}}
			</tr>
			<tr class="attribute-bar">
				<input type="number" (change)="updateAllocatablePoints_first(current, i)"
				[(ngModel)]="this.firstSetPointBuyArray[i]"
				min="0" max="{{minimum(this.firstSetPointBuyArray[i] + this.pointsAllocatable_first, this.maxInvestmentPerAttribute_first)}}">
			</tr>
			<tr class="attribute-bar">
				<input type="number" (change)="updateAllocatablePoints_second(current, i)"
				[(ngModel)]="this.secondSetPointBuyArray[i]"
				min="0" max="{{minimum(this.secondSetPointBuyArray[i] + this.pointsAllocatable_second, this.maxInvestmentPerAttribute_second)}}">
			</tr>
			<tr class="attribute-bar">
				###
			</tr>
		</td>
	</span>
	<td>
		<tr>
			&nbsp;
		</tr>
		<tr>
			<button (click)="this.reroll()">
				Reroll
			</button>
		</tr>
		<tr>
			points remaining: {{this.pointsAllocatable_first}}
		</tr>
		<tr>
			points remaining: {{this.pointsAllocatable_second}}
		</tr>
		<tr>
			&nbsp;
		</tr>
	</td>
</table>