<table style="background-color: gray" class="solid-border">
	<div style="background-color: slategray">
		<tr>
			<td class="solid-border">
				<tr class="solid-border">
					<td>
						<b>STR:</b>
					</td>
					<td>
						{{this.getStrength(characterFocus)}}
					</td>
				</tr>
				<tr class="solid-border">
					<td style="width:70%">
						<b>CON:</b>
					</td>
					<td style="width:30%" class="value-cell">
						{{this.getConstitution(characterFocus)}}
					</td>
				</tr>
			</td>

			<td class="solid-border">
				<tr class="solid-border">
					<td style="width:70%">
						<b>HP:</b>
					</td>
					<td style="width:30%">
						{{this.getHP(characterFocus)}}
					</td>
				</tr>
			</td>
		</tr>
		<tr>
			<td class="solid-border">
				<tr class="solid-border">
					<td>
						<b>INT:</b>
					</td>
					<td>
						{{this.getIntelligence(characterFocus)}}
					</td>
				</tr>
				<tr class="solid-border">
					<td>
						<b>WIS:</b>
					</td>
					<td>
						{{this.getWisdom(characterFocus)}}
					</td>
				</tr>
			</td>

			<td class="solid-border">
				<tr class="solid-border">
					<td>
						<b>SAN:</b>
					</td>
					<td class="value-cell">
						{{this.getSanity(characterFocus)}}
					</td>
				</tr>
			</td>
		</tr>

		<tr>
			<td class="solid-border">
				<tr class="solid-border">
					<td>
						<b>DEX:</b>
					</td>
					<td>
						{{this.getDexterity(characterFocus)}}
					</td>
				</tr>
				<tr class="solid-border">
					<td>
						<b>AGL:</b>
					</td>
					<td>
						{{this.getAgility(characterFocus)}}
					</td>
				</tr>
			</td>

			<td class="solid-border">
				<tr class="solid-border">
					<td>
						<b>STA:</b>
					</td>
					<td class="value-cell">
						{{this.getStamina(characterFocus)}}
					</td>
				</tr>
			</td>
		</tr>

		<tr>
			<td class="solid-border">
				<tr class="solid-border">
					<td>
						<b>CHA:</b>
					</td>
					<td>
						{{this.getCharisma(characterFocus)}}
					</td>
				</tr>
				<tr class="solid-border">
					<td>
						<b>Will:</b>
					</td>
					<td>
						{{this.getWill(characterFocus)}}
					</td>
				</tr>
			</td>

			<td class="solid-border">
				<tr class="solid-border">
					<td>
						<b>MOX:</b>
					</td>
					<td class="value-cell">
						{{this.getMoxie(characterFocus)}}
					</td>
				</tr>
			</td>
		</tr>

		<tr>
			<td class="solid-border">
				<tr class="solid-border">
					<td>
						<b>LUCK:</b>
					</td>
					<td>
						{{this.getLuck(characterFocus)}}
					</td>
				</tr>
				<tr class="solid-border">
					<td>
						<b>PER:</b>
					</td>
					<td>
						{{this.getPerception(characterFocus)}}
					</td>
				</tr>
			</td>

			<td class="solid-border">
				<tr class="solid-border">
					<td>
						<b>FOR:</b>
					</td>
					<td class="value-cell">
						{{this.getFortune(characterFocus)}}
					</td>
				</tr>
			</td>
		</tr>
	</div>
</table>